@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: #56423D;
}

/* header - logo and nav */

#parent-header {
    display: grid;
    grid-template-areas: 'left right';
    grid-column: 2;
    width: 100%;
    height: 8%;
    min-height: 100px;
    background-color: #F2CDC3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.child-logo {
    grid-column: 1;
    grid-area: left;
    margin-top: 2%;
}

.child-links {
    grid-column: 2;
    grid-area: right;
    margin-top: 6%;
}

#logo {
    float: left;
    text-decoration: none;
    text-align: left;
    margin-left: 32px;
    font-size: 30px;
    font-weight: bold;
}

#menu {
    float: right;
}

#menu>li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

h1, h2 {
    font-family: Inter, sans-serif;
    letter-spacing: 2px;
    color: #3B3D22;
}

/* navigation links */

.child-links {
    grid-column: 2;
    grid-area: right;
    margin-top: 4%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin-right: 32px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #000000;
    font-style: italic;
}

.active {
    border-bottom: 1px solid #87957C;
}

/* first section with main image/text and button to adopt page*/


.image-container {
    height: 600px;
    width: 100%;
    text-align: center;
    display: flex;
}

.image-container>img {
    width: 60%;
    height: 100%;
    display: flex;
    text-align: right;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.cover-text {
    text-align: left;
    padding: 0;
    background-color: #87957C;
    color: #3B3D22;
    height: 100%;
    width: 40%;
}

.cover-text>h2 {
    font-size: 500%;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
}

.cover-text>h3 {
    font-size: 300%;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 40px;
}

.adopt-button {
    background-color: #56423D;
    color: aliceblue;
    font-size: 150%;
    font-weight: 600;
    border-radius: 23px;
    width: 260px;
    height: 49px;
    bottom: 100px;
    margin: 10% 0 0 30px;
}

.adopt-button>i {
    color: aliceblue;
}

.adopt-button:hover {
    background-color: aliceblue;
    color: #56423D;
}

/* Happy Stories section */

#happy-stories {
    height: 600px;
    width: 100%;
    margin-top: 2%;
    background-color: #F2CDC3;
}    

.happy-heading {
    background-color: #F2CDC3;
    padding-top: 1.5%;
    padding-left: 1%;  
}

.happy-heading>h2 {
    text-transform: uppercase;
    color: #87957C;
    letter-spacing: 0.34em;
    font-size: 20px;
    font-weight: 700;
    margin-left: 1%;
}

.happy-stories {
    display: flex;
    flex-direction: row-reverse;
}

.happy-stories>img {
    height: 500px;
    width: 60%;
    padding-top: 1.5%;
    object-fit: cover;
    margin-left: 30px;
}

.happy-text {
    text-align: left;
    background-color: #F2CDC3;
    color: #56423D;
    height: 40%;
    width: 40%;
    font-style: italic;
    font-weight: 600;
    margin-top: 1.5%;
    margin-right: 1%;
    background-color:#BEA6A0;
}

.happy-text>p {
    width: 80%;
    text-align: center;
    margin-left: 8%;
}

.happy-text>i {
    text-align: center;
    margin-left: 8%;
}

.fa-quote-right {
    padding-left: 80%;
}

/* About us section */

#about-us-container {
    height: 600px;
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 2%;
}

.about-us-text {
    text-align: left;
    background-color: #87957C;
    color: #3B3D22;
    height: 100%;
    width: 70%;
    position: relative;
}

.about-us-text>h2 {
    text-transform: uppercase;
    color: #F2CDC3;
    letter-spacing: 0.34em;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 40px;
} 

.about-us-text>p {
    font-weight: 600;
    font-size: 18px;
    color: #56423D;
    margin: 40px 100px 0 30px;
}

.second-paragraph {
    margin-top: 50px;
}

.second-paragraph>h3 {
    text-transform: uppercase;
    color: #F2CDC3;
    letter-spacing: 0.34em;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}

.second-paragraph>p {
    font-weight: 600;
    font-size: 18px;
    color: #56423D;
    margin: 0 100px 0 30px;
}

.about-us-img {
    height: 560px;
    width: 30%;
    text-align: right;
    display: flex;
    object-fit: cover;
    border: 20px solid #BEA6A0;
}

/* Footer */

#container-footer{
    display: grid;
    grid-template-areas: 'left center right';
    grid-column: 3;
    width: 100%;
    height: 10%;
    min-height: 150px;
    background-color: #F2CDC3;
    text-align: center;
}

#container-footer h3 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-footer {
    grid-column: 1;
    grid-area: left;
    margin-top: 6%;
    margin-left: 10%;
}

.logo-footer>h2{
    color: #56423D;
    font-size: 25px;
    text-align: left;
}

.contact-footer {
    grid-column: 2;
    grid-area: center;
    margin-top: 6%;
}

.contact-footer p {
    margin-top: 2%;
}

.socialmedia-footer {
    grid-column: 3;
    grid-area: right;
    margin-top: 6%;
    margin-left: 3%;
}

.socialmedia-footer i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #3a3a3a;
}    

/* -------- Adopt Page----------------------- */

#adoption {
    max-width: 100%;
    height: 90%;
    margin: auto;
    padding-top: 3%;
    background-color: #87957C;
}

.adoption-box {
    width: 33%;
    height: 600px;
    float: left;
    background-color: #87957C;
    padding: 50px 0 0 10px;
    text-align: bottom;
    font-size: 150%;
    font-weight: 500;
    color: #56423D;
    box-sizing: border-box;
    border: 25px solid #87957C;
}

.backcolor-text {
    background-color: rgba(242, 205, 195, 0.2);
    border-radius: 4%;
    opacity: 0.2;
}
.backcolor-text:hover {
    background-color: rgba(242, 205, 195, 0.6);
    border-radius: 4%;
    opacity: 1;
}

#meghan {
    background-image: url(../images/meghan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#leo {
    background-image: url(../images/leo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#suzy {
    background-image: url(../images/suzy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#daphne {
    background-image: url(../images/daphne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#stoney {
    background-image: url(../images/stoney.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#fudge {
    background-image: url(../images/fudge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

.book-button {
    background-color: #56423D;
    color: aliceblue;
    font-size: 90%;
    font-weight: 600;
    border-radius: 23px;
    width: 213px;
    height: 34px;
    bottom: 100px;
    margin: 10% 0 0 30px;
}

.book-button:hover {
    background-color: aliceblue;
    color: #56423D;
}

/* --------------- Form ---------------- */

.form-section {
    /* clear: left; */
    background: linear-gradient(rgba(135, 149, 124, 0.6), rgba(135, 149, 124, 0.6)), url(../images/form-image-trial.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 900px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #56423D;
    font-weight: 700;
    background-color: rgba(190, 166, 160, 0.8);
    max-width: 600px;
    position: absolute;
    left: 50%;
    padding: 30px;
}

.signup-form > h2 {
    color: #3B3D22;
    font-weight: 800;
    margin-bottom: 20px;
}

.text-input {
    background: rgba(255, 255, 255, 0.6);
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input-about {
    background: rgba(255, 255, 255, 0.6);
    color: black;
    width: 100%;
    height: 150px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #87957C;
}

.join-button {
    margin-top: 20px;
    background-color: #56423D;
    color: aliceblue;
    font-weight: 600;
    border-radius: 23px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%; 
    display: block;
}

.join-button:hover {
    background-color: aliceblue;
    color: #56423D;
}

